<!--

########################################
#
# Developer : Ravichandran T S
# Phone : 9113971166
# Email : ravichandrants202@gmail.com
#
########################################

-->

{% extends 'base.html' %}
{% block content %}

    <div class="container">
		<div class="table-responsive">
			<div class="table-wrapper">
				<div class="table-title">
					<div class="row">
						<div class="col-xs-6">
							<h2>Manage <b>Users</b></h2>
						</div>
						<div class="col-xs-6">
							<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New User</span></a>    						
						</div>
					</div>
				</div>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
                            <th>Sl. No.</th>
							<th>UserName</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
							<!-- <th>Email</th> -->
						</tr>
					</thead>
					<tbody>
                    {% for user in users %}
						<tr>
							<td>{{forloop.counter}}</td>
							<td>{{user.username}}</td>
							 <td>{{user.first_name}}</td>
							 <td>{{user.last_name}}</td>
                             <td>{{user.email}}</td>
							<!--<td>
								<a href="teams/edit/{{team.id}}" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="viewport">&#xE254;</i></a>
								<a href="teams/delete/{{team.id}}" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
							</td> -->
						</tr>
                    {% endfor %}
					</tbody>
				</table>
				<div class="clearfix">
					<div class="hint-text">Showing<b> {{count}}</b> entries</div>
				</div>
			</div>
		</div>        
    </div>

	<!-- Add Modal HTML -->

	<!-- <div id="addEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action="{% url 'addteam' %}" method="post">
					{% csrf_token %}
					<div class="modal-header alert alert-success">						
						<h4 class="modal-title">ADD NEW Team RECORD</h4>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>Name</label>
							<input type="text" class="form-control" name="team_name" required>
						</div>
						<div class="form-group">
							<label>Size</label>
							<input  type="number" class="form-control" name="team_size" required>
						</div>
                        <div class="form-group">
							<label>College</label>
							<input  type="text" class="form-control" name="college_name" required>
						</div>
                        <div class="form-group">
							<label>Person 1</label>
							<input type="text" class="form-control" name="person1" required>
						</div>
                        <div class="form-group">
							<label>Person 2</label>
							<input type="text" class="form-control" name="person2" required>
						</div>
                        <div class="form-group">
							<label>Person 3</label>
							<input type="text" class="form-control" name="person3">
						</div>
                        <div class="form-group">
							<label>Person 4</label>
							<input type="text" class="form-control" name="person4">
						</div>
						<div class="form-group">
							<label>Leader Name</label>
							<input  type="text" class="form-control" name="leader_name" required>
						</div>
                        <div class="form-group">
							<label>Leader Phone</label>
							<input  type="number" class="form-control" name="phone" required>
						</div>
						<div class="form-group">
							<label>Leader Email</label>
							<input  type="email" class="form-control" name="email" required>
						</div>					
					</div>
					<div class="modal-footer">
						<a href="{% url 'teams' %}" class="btn btn-default">Cancle</a>
						<input type="submit" class="btn btn-info" value="Save">
					</div>
				</form>
			</div>
		</div>
	</div> -->
{% endblock %}
